<style>

@font-face {
  font-family: "comicoro";
  src: url("https://file.garden/Z2qKUX9U8UFvf65x/fonts%20bruh/comicoro.ttf");
}

* {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat909.cur), auto !important;
}

:root {
  --black: #151515;
  --white: #d4d4d3;
  --gray: #707e8e;
  --dgray: #14181f;
}

body {
  font-family: "comicoro";
  font-size: 28px;
  background: var(--black);
  color: var(--white);
  font-weight: 200;
  transition: background-color 0.3s, color 0.3s;

  &::after {
    content: "";
    background-image: url("https://eggwichwithbacons.nekoweb.org/img%2Fgraphics/noise.png");
    opacity: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    image-rendering: auto;
    pointer-events: none;
    z-index: -1;
  }
}

textarea {
  background: transparent;
  color: var(--white);
}

a {
  color: var(--white);
}

hr {
  border: dashed 1px #171715;
}

ind {
  margin-left: 50px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "arial";
  font-weight: 200;
  line-height: 45px;
}

.switch {
  position: absolute;
}

.con-m {
  margin: 10px;
}

.squish {
  transition: transform 0.3s ease;
}

.squish.clicked {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(-10px) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20px) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(-10px) scale(1.05, 0.95);
  }
}

.wrapper {
  position: relative;
  width: 900px;
  margin: auto;
  top: 100px;
}

.flex {
  display: flex;
  gap: 15px;
}

col-1 {
  flex: 1;
  z-index: -1;
}

.favi {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  float: left;
  margin-right: 10px;
}

.favi img {
  width: 90%;
}

.hl {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.hl::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

a:hover .hl {
  color: var(--black);
}

a:hover .hl::before {
  transform: scaleX(1);
}

.tl {
  color: var(--gray);
}

i {
  font-size: 20px;
}

</style>
